@import '../../globalStyles.scss';

#input_container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    #searchBar {

        width: 50%;
        height: 50px;

        border-radius: 50px;
        border: none;

        background-color: #F4F9E9;

        outline: none;

        padding: 15px;


        font-size: 40px;
        font-family: $clashDisplay;
        font-weight: 600;


        transition: transform 0.4s ease-in-out;

        &::placeholder {
            font-weight: 100;
        }

        &.validated {
            transform: translateY(-200%);
        }
    }
}