// VARIABLES

// fonts
$clashDisplay: 'Clash Display', sans-serif;
$background_color: #284B63;
$text_color: #F4F9E9;
// fonts


// VARIABLES
body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    
    position: relative;

    background-color: $background_color;

}

#root, #body {

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
